---
layout: page
title: Jesse Pollak
tagline: Discussing what comes to mind
---
{% include JB/setup %}

<div class='site'>
  {% for post in site.posts limit: 3 %}
    <div class="post">
      <h1 class="meta">
        <span>{{ post.date | date_to_long_string }}</span>
        {% if post.location %}{{ post.location }}{% endif %}
        <span class='meta-border'></span>
      </h1>
      <h1 class='title'><a href="{{ BASE_PATH }}{{ post.url }}">{{ post..title }}</a></h1>
      {{ post.content }}
      <div class='post-footer'>
        <a class='twitter' href="https://twitter.com/share?url=http://jessepollak.me{{ BASE_PATH }}{{ post.url | Urlencode }}&via=jessepollak" target="_blank">share on twitter</a>
        <a class='more' href="{{ BASE_PATH }}{{ post.url }}">read more or comment</a>
        <div class='clear'></div>
      </div>
    </div>
  {% endfor %}
  <div class='archive-link'>
    <a href='{{ site.JB.archive_path }}'>more posts</a>
  </div>
</div>



