---
layout: page
title: Jesse Pollak
tagline: Discussing what comes to mind
---
{% include JB/setup %}


<p>Sophomore at <b>Pomona College</b>. Summer of 2012 <b>hackNY Fellow</b> and SDE intern at <b>BuzzFeed</b>. Currently hacking on <a href='https://clef.io'>Clef</a>. Latest side project: <a href='http://gitbattle.com'>GitBattle</a>.</p>

<p>Follow me on <a href='http://twitter.com/jessepollak'>Twitter</a>, friend me on <a href='http://facebook.com/jessepollak'>Facebook</a>, and fork my code on <a href='http://github.com/jessepollak'>Github</a>. Or, check out the <a href='/about.html'>about page</a> for my latest projects.</p>
  
<ul class="posts">
  {% for post in site.posts limit: 15 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

Visit the <a href='/archive.html'>archive</a> for more!
