<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}css/pygments.css" type="text/css"/>
</head>
<body>


  <div class="navigation">
    <a href="{{ HOME_PATH }}">
      <img src='{{ ASSET_PATH }}images/jesse.jpg' />
    </a>
    <div class='nav'>
      <a class='home' href="{{ HOME_PATH }}">{{ site.title }}</a>
      
      <div class='site-links'>
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.things_path }}">things</a>
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">blog</a>
      </div>
      <div class='social-links'>
        <a class='extra' href='http://twitter.com/jessepollak'>twitter</a>
        <a class='extra' href='http://github.com/jessepollak'>github</a>
        <a class='extra' href='http://facebook.com/jessepollak'>facebook</a>
      </div>
    </div>
  </div>

  <div class='content'>
  
    {{ content }}
  
<!--     <div class="footer">
      <div class="contact">
        <p>
          {{ site.author.name }}<br />
          {{ site.tagline }}<br />
          <a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
          <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
        </p>
      </div>
    </div> -->
  </div>
  {% include JB/analytics %}
</body>
</html>
