/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "ff-meta-serif-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  *font-size: small;
  color: rgb(30, 30, 30);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a {
  color: rgb(30, 30, 30);
}

a:hover {
  color: #AAA;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 30px;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 640px;
  margin: auto;
  padding-bottom: 50px;
  line-height: 1.5em;
}

.title {
  margin-bottom: 2em;
}

  .site .title a {
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    overflow: hidden;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #AAA;
    font-weight: normal;
    margin-bottom: 0;
  }

  .site .meta span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    z-index: 2;
    background: white;
  }

  .site span.meta-border {
    width: 100%;
    border-bottom: 1px dotted #AAA;
    position: relative;
    top: -26px;
    z-index: -1;
  }

  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }
  .site .archive-link {
    font-size: 40px;
    text-align: center;
    margin-top: -30px;
  }

.content {
  margin-top: 50px;
}

.navigation {
  margin: 0 0 0 30px;
  float: left;
}

.navigation .home {
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
}

.navigation img {
  width: 100px;
  border: 5px solid #DDD;
}

.navigation img:hover {
  border-color: #EEE;
}

.navigation .nav {
}

.navigation .nav a {
  display: block;
  text-decoration: none;
}

.navigation .nav a.extra {
  text-transform: lowercase;
  text-align: right;
}

.navigation .social-links {
}

.navigation .site-links {
  border-bottom: 1px dotted #AAA;
  border-top: 1px dotted #AAA;
  margin: 10px 0;
  padding: 10px 0;
}

.clear {
  clear: both;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  margin-bottom: 100px;
}

.post .title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: 40px 0 60px 0;
}

.post .title a:hover {
  color: #AAA;
}

.post .author {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  color: rgb(100, 100, 100);
}
  /* standard */


  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post p {
    font-size: 20px;
    line-height: 32px;
    text-align: left;
  }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }

  .post .post-footer a {
    font-size: 18px;
    color: #AAA;
    text-decoration: none;
  }
  .post .post-footer a:hover {
    color: black;
  }
  .post .post-footer .twitter {
    float: left;
  }

  .post .post-footer .more {
    float: right;
  }

  .post .highlight {
    padding: 10px 0 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .post img {
    width: 100%;
  }
  
#related {
  margin-top: 2em;
  text-align:center;
}

  #related h2 {
    margin-bottom: 1em;
  }

#disqus_thread {
  padding-bottom: 50px;
}

.post .social {
  text-align: center;
}
.post .social a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}

#archive h2 {
  margin-bottom: 20px;
  text-align: center;
}

#archive h3 {
  margin-bottom: 10px;
  border-bottom: 1px dotted #AAA;
}
#archive ul {
  list-style: none;
}
#archive ul li {
  list-style: none;
  text-align: right;
}

#archive ul li a {
  font-size: 22px;
  text-decoration: none;
  margin: 10px 0;
  display: block;
}
#archive ul li a:hover {
  color: #BBB;
}

#archive ul li a span {
  font-size: 14px;
  color: #AAA;
  position: relative;
  top: -2px;
}

#archive ul li > a.title {
  text-decoration: none;
  font-size: 36px;
  font-style: italic;
  line-height: 40px;
  display: block;
  margin: 40px 0 60px 0;
}

#archive ul li a.more {
  text-decoration: underline;
  font-style: italic;
  position: relative;
  top: -1px;
}

#archive ul li .archive-content strong {
  font-weight: normal;
}


#home {
  height: 480px;
  width: 480px;
  margin: auto;
  margin-top: 100px;
}
#home img {
  border: 10px solid #AAA;
  width: 100%;
}

#home a {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-style: italic;
  width: 155px;
}

#home {
  text-align: center;
}

#things {
  width: 960px;
  margin: auto;
}

#things .thing {
  width: 27%;
  float: left;
  margin-right: 6%;
  margin-bottom: 30px;
}

#things .thing a {
  text-decoration: none;
  display: block;
}
#things .thing img {
  width: 100%;
  border: 5px solid #DDD;
  margin-top: 5px;
  height: 150px;
}
#things .thing img:hover {
  border-color: #EEE;
}

#things .thing h3 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
}

#things .thing h3 span {
  font-size: 12px;
  text-align: right;
  font-style: italic;
}

#things .thing p {
  font-size: 12px;
  display: block;
  height: 50px;
}

#things .thing p > a {
  color: #3399cc;
}

#about h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
}